<div class="text-center bg-image"
     style="background-image: url('https://images.unsplash.com/photo-1574620845949-61a08a005988'); background-size: cover; height: 80vh; border-radius: 1rem; ">
  <div class="d-flex flex-column justify-content-center align-items-center h-100">
    <h1 class="display-4 text-white" style="text-shadow: 1px 1px 2px gray;"><strong>Welcome to RentRetreats</strong></h1>
    <p class="lead text-white" style="text-shadow: 1px 1px 2px gray;">A house renting system where you can rent out your houses!</p>
    <a class="btn btn-lg btn-primary rounded-pill" [routerLink]="['/houses']">View All Houses</a>
  </div>
</div>
