<div class="container">
  <img [src]="house.HouseImageUrl" [alt]="house.Title" />
  <div class="details">
    <span class="title">{{ house.Title }}</span>
    <div class="price">
      <span>{{ house.PricePerNight | convertToCurrency: 'kr' }} / night</span>
    </div>
    <div class="description"><span>{{ house.Description }}</span></div>
    <div class="room-info">
      <span>{{ house.Bedrooms }} Bedrooms</span>
      <span>{{ house.Bathrooms }} Bathrooms</span>
    </div>
    <div class="location">
      <span>Location</span>
      <span>{{ house.Location }}</span>
    </div>
    <form (ngSubmit)="onSubmit()" [formGroup]="reservationForm">
      <div class="form-group row">
        <div class="form-floating col-md-6 mb-3 gx-1 mt-3">
          <input type="date" id="checkInDate" formControlName="checkInDate" class="form-control" />
          <label for="checkInDate" class="form-label">Check In Date:</label>
        </div>
        <div class="form-floating col-md-6 mb-3 gx-1 mt-3">
          <input type="date" id="checkOutDate" formControlName="checkOutDate" class="form-control" />
          <label for="checkOutDate" class="form-label">Check Out Date:</label>
        </div>
      </div>
      <button class="btn btn-lg btn-primary rounded-pill" type="submit">Reserve House</button>
    </form>
  </div>
</div>
<div class="actions">
  <button class="btn btn-sm btn-secondary rounded-pill my-1" [routerLink]="['/houseform', 'edit', house.HouseId, viewTitle]">Update</button>
  <button class="btn btn-sm btn-danger rounded-pill" (click)="deleteHouse(house)">Delete</button>
</div>
