<h2>Register new account</h2>

<form class="form form-floating mb-3" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <div class="form-floating mb-3">
            <input type="text" id="FirstName" formControlName="FirstName" class="form-control" placeholder="John" />
        <label for="FirstName">First Name</label>
    </div>
    </div>
    <div class="form-group">
        <div class="form-floating mb-3">
            <input type="text" id="LastName" formControlName="LastName" class="form-control" placeholder="Henry" />
        <label for="LastName">Last Name</label>
    </div>
    </div>
    <div class="form-group">
        <div class="form-floating mb-3">
            <input type="text" id="PhoneNumber" formControlName="PhoneNumber" class="form-control" placeholder="91827364" />
        <label for="PhoneNumber">Phone number</label>
        
        </div>
    </div>
    <div class="form-group">
        <div class="form-floating mb-3">
            <input type="email" id="Email" formControlName="Email" class="form-control" placeholder="name@example.com" />
         <label for="Email">Email</label>
         
        </div>
    </div>
    <span *ngIf="matchingError" class="text text-danger">Two passwords must match</span>
    <div class="form-group">
        <div class="form-floating mb-3">
            <input type="password" id="Password" formControlName="Password" class="form-control" placeholder="********" />
        <label for="Password">Password</label>
        
    </div>
    </div>
    <div class="form-group">
        <div class="form-floating mb-3">
            <input type="password" id="ConfirmPassword" formControlName="ConfirmPassword" class="form-control" placeholder="********"/>
        <label for="ConfirmPassword">Confirm Password</label>
    </div>
    </div>
    <button class="btn btn-primary" type="submit" [disabled]="registerForm.invalid">Create Account</button>
    <button class="btn btn-secondary" type="button" [routerLink]="['houses']">Back to house listings</button>
</form>