<h2>{{ isEditMode ? 'Update' : 'Create'}} Reservation</h2>

<form (ngSubmit)="onSubmit()" [formGroup]="reservationForm">
  <div class="form-group row">
    <div class="form-group">
      <label for="houseId" class="form-label">HouseId:</label>
      <select formControlName="houseId" class="form-select">
        <option value="">Select a house...</option>
        <option *ngFor="let house of houseSelectList" [value]="house.HouseId">{{ house.Title }}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="checkInDate" class="form-label">Check In Date:</label>
      <input type="date" id="checkInDate" formControlName="checkInDate" class="form-control" />
    </div>
    <div class="form-group">
      <label for="checkOutDate" class="form-label">Check Out Date:</label>
      <input type="date" id="checkOutDate" formControlName="checkOutDate" class="form-control" />
    </div>
  </div>
  <button class='btn btn-primary' type="submit" [disabled]="reservationForm.invalid">
    {{ isEditMode ? 'Update' : 'Create'}} Reservation
  </button>
  <button class='btn btn-secondary' (click)="backToReservations()">Cancel</button>
</form>
