<div class="p-5 shadow-sm" style="border-radius: 15px">

    <h2>{{ isEditMode ? 'Update' : 'Create'}} Reservation</h2>

    <form (ngSubmit)="onSubmit()" [formGroup]="reservationForm">
        <div class="form-group row">
            <div class="form-floating col-md-4 mb-3 gx-1">
                <select #houseSelect formControlName="houseId" class="form-select" (change)="changeHouse(houseSelect.value)">
                    <option value=0>Select a house...</option>
                    <option *ngFor="let house of houseSelectList" [value]="house.HouseId">{{ house.Title }}</option>
                </select>
                <label for="houseId" class="form-label">HouseId:</label>
            </div>
            <div class="form-floating col-md-4 mb-3 gx-1">
                <input type="date" id="checkInDate" formControlName="checkInDate" class="form-control"/>
                <label for="checkInDate" class="form-label">Check In Date:</label>
            </div>
            <div class="form-floating col-md-4 mb-3 gx-1">
                <input type="date" id="checkOutDate" formControlName="checkOutDate" class="form-control"/>
                <label for="checkOutDate" class="form-label">Check Out Date:</label>
            </div>
        </div>
        <div class="reservation-info row">
          <img *ngIf="chosenHouse" [src]="chosenHouse.HouseImageUrl" [alt]="chosenHouse.Description" class="col-md-4 mb-3 gx-1"/>
          <div *ngIf="chosenHouse" class="col-md-4 gx-1">
            <span>Total Price: </span>
            <span>(not implemented yet)</span>
          </div>
        </div>
        <button class='btn btn-primary rounded-pill' type="submit" [disabled]="reservationForm.invalid">
            {{ isEditMode ? 'Update' : 'Create'}} Reservation
        </button>
        <button class='btn btn-secondary rounded-pill mx-3' (click)="backToReservations()">Cancel</button>
    </form>
</div>
