<app-reservations-reservationform></app-reservations-reservationform>

<h1 id="tableLabel" class="my-4">My Reservations</h1>

<div class='row mb-3'>
    <div class='col-md-9'>
        <h4>Filtered by House: {{listFilter}}</h4>
    </div>
    <div class='col-md-3'>
        <div class="row">
            <div class='col-md-5'>
                <p class="lighter">Filter by title:</p>
            </div>
            <div class='col-md-7'>
                <input type='text' class="form-control"
                       [(ngModel)]='listFilter' />
            </div>
        </div>
    </div>
</div>

<table class='table table-hover' aria-labelledby="tableLabel">
    <thead>
        <tr>
            <th>
                <button class='btn btn-sm btn-dark rounded-pill text-nowrap'
                        (click)='toggleImage()'>
                    {{ displayImage ? 'Hide' : 'Show' }} Image
                </button>
            </th>
            <th>House</th>
            <th>Date Created</th>
            <th>Check In Date</th>
            <th>Check Out Date</th>
            <th>Total Price</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor='let reservation of filteredReservations' routerLink="/reservation-details/{{ reservation.ReservationId }}">
            <td><img [src]='reservation.House?.HouseImageUrl' *ngIf="displayImage" class="rounded-circle" /></td>
            <td>{{ reservation.House?.Title }}</td>
            <td>{{ reservation.DateCreated | date: 'dd-MM-yyyy' }}</td>
            <td>{{ reservation.CheckInDate | date: 'dd-MM-yyyy' }}</td>
            <td>{{ reservation.CheckOutDate | date: 'dd-MM-yyyy' }}</td>
            <td width="120">{{ reservation.TotalPrice | convertToCurrency: 'kr' }}</td>
            <td id="actions">
                <a class="btn btn-sm btn-secondary rounded-pill w-100 my-1" [routerLink]="['/reservationform', 'edit', reservation.ReservationId, viewTitle]">Update</a>
                <a class="btn btn-sm btn-danger rounded-pill w-100 my-1" (click)="deleteReservation(reservation)">Delete</a>
            </td>
        </tr>
    </tbody>
</table>