.img-link {
  width: 80px;
  height: 80px;
}

.img-link:hover {
  opacity: 0.9;
}

tbody tr {
  cursor: pointer;
}

.card {
  border: 1px solid #D3D3D3;
  border-radius: 1rem;
  overflow: hidden;
}

.card:hover {
  box-shadow: 0 .30rem .80rem rgba(0, 0, 0, .05);
}

.card-img-top {
  height: 250px;
  object-fit: cover;
}

#housecard div a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: black;
}

.house-title {
  font-size: 1.1rem;
  font-weight: 500;
}

.price {
  font-weight: 400;
}

.card-footer {
    background-color: white;
}

.carousel-control-prev, .carousel-control-next {
  display: flex;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.carousel:hover .carousel-control-prev, .carousel:hover .carousel-control-next {
  opacity: 1; 
}
