<h1 id="tableLabel" class="my-3">List of Houses</h1>

<div class='row mb-3'>
  <div class="col-md-9">
    <div class="btn-group btn-group-sm">
      <a class="btn btn-outline-dark" (click)="showGridView()" [class.active]="displayCard">Grid View</a>
      <a class="btn btn-outline-dark active" (click)="showTableView()" [class.active]="displayTable">Table View</a>
    </div>
  </div>
  <div class='col-md-3'>
    <div class="row">
      <div class='col-md-5'>Filter by title:</div>
      <div class='col-md-7'>
        <input type='text' class="form-control"
               [(ngModel)]='listFilter' />
      </div>
    </div>
  </div>
</div>

<div class='row'>
  <div class='col-md-6'>
    <h4>Filtered by title: {{listFilter}}</h4>
  </div>
</div>

<table *ngIf="displayTable" class='table table-hover' aria-labelledby="tableLabel">
  <thead>
    <tr>
      <th>
        <button class='btn btn-sm btn-dark rounded-pill text-nowrap'
                (click)='toggleImage()'>
          {{ displayImage ? 'Hide' : 'Show' }} Image
        </button>
      </th>
      <th>HouseId</th>
      <th>Title</th>
      <th>Location</th>
      <th>Room info</th>
      <th>Description</th>
      <th>Price/night</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor='let house of filteredHouses' routerLink="/house-details/{{ house.HouseId }}" >
      <td>
        <img [src]='house.HouseImageUrl' *ngIf="displayImage" class="rounded-circle img-link"/>
      </td>
      <td>{{ house.HouseId }}</td>
      <td>{{ house.Title }}</td>
      <td>{{ house.Location }}</td>
      <td width="160">
        <span class="badge rounded-pill bg-light text-dark">{{ house.Bedrooms }} Bedrooms</span><br />
        <span class="badge rounded-pill bg-light text-dark">{{ house.Bathrooms }} Bathrooms</span>
      </td>
      <td>{{ house.Description }}</td>
      <td width="120">{{ house.PricePerNight | convertToCurrency: 'kr' }}</td>

      <td>
        <a class="btn btn-sm btn-secondary rounded-pill w-100 my-1" [routerLink]="['/houseform', 'edit', house.HouseId, 'Table']">Update</a>
        <a class="btn btn-sm btn-danger rounded-pill w-100" (click)="deleteHouse(house)">Delete</a>
      </td>
    </tr>
  </tbody>
</table>

<div id="housecard" *ngIf="displayCard" class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
    <div *ngFor="let house of filteredHouses" class="col">
        <div class="card">
            <ng-container *ngIf="!house.BedroomImageUrl && !house.BathroomImageUrl">
                <img [src]="house.HouseImageUrl" alt="{{ house.Title }}" class="card-img-top" />
            </ng-container>
            <ng-container *ngIf="house.BedroomImageUrl || house.BathroomImageUrl">
                <div [id]="'carouselImages-' + house.HouseId" class="carousel slide">
                    <div class="carousel-indicators">
                        <button type="button" [attr.data-bs-target]="'#carouselImages-' + house.HouseId" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <ng-container *ngIf="house.BedroomImageUrl || house.BathroomImageUrl">
                            <button type="button" [attr.data-bs-target]="'#carouselImages-' + house.HouseId" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        </ng-container>
                        <ng-container *ngIf="house.BedroomImageUrl && house.BathroomImageUrl">
                            <button type="button" [attr.data-bs-target]="'#carouselImages-' + house.HouseId" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        </ng-container>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img [src]="house.HouseImageUrl" alt="{{ house.Title }}" class="card-img-top">
                        </div>
                        <ng-container *ngIf="house.BedroomImageUrl">
                            <div class="carousel-item">
                                <img [src]="house.BedroomImageUrl" alt="Bedroom of the house" class="card-img-top">
                            </div>
                        </ng-container>
                        <ng-container *ngIf="house.BathroomImageUrl">
                            <div class="carousel-item">
                                <img [src]="house.BathroomImageUrl" alt="Bathroom of the house" class="card-img-top">
                            </div>
                        </ng-container>
                    </div>
                    <button class="carousel-control-prev" type="button" [attr.data-bs-target]="'#carouselImages-' + house.HouseId" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    </button>
                    <button class="carousel-control-next" type="button" [attr.data-bs-target]="'#carouselImages-' + house.HouseId" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    </button>
                </div>
            </ng-container>
            <a routerLink="/house-details/{{ house.HouseId }}">
                <div class="card-body">
                    <div class="d-flex justify-content-between mt-2">
                        <h5 class="house-title">{{ house.Title }}</h5>
                        <h6 class="price">{{ house.PricePerNight | convertToCurrency: 'kr / night' }}</h6>
                    </div>
                    <p>{{ house.Location }}</p>
                    <span class="badge rounded-pill bg-light text-dark">{{ house.Bedrooms }} Bedrooms, </span>
                    <span class="badge rounded-pill bg-light text-dark">{{ house.Bathrooms }} Bathrooms</span>
                </div>
            </a>
            <div class="card-footer">
                <button class="btn btn-sm btn-secondary rounded-pill m-1" [routerLink]="['/houseform', 'edit', house.HouseId, 'Grid']">Update</button>
                <button class="btn btn-sm btn-danger rounded-pill m-1" (click)="deleteHouse(house)">Delete</button>
            </div>
        </div>
    </div>
</div>

<button class='btn btn-primary rounded-pill my-5' [routerLink]="['/houseform', 'create', -1, displayTable ? 'Table' : 'Grid']">Create New House</button>
