thead {
    color: blue;
}

.delete-link 
{
    margin-left: 8px;
    color: red;
    text-decoration: underline;
    cursor: pointer;
}

img {
    border-radius: 0.5rem;
}

.img-link:hover {
  opacity: 0.9;
  cursor: pointer;
}
