<h1 id="tableLabel">List of Houses ({{viewTitle}} View)</h1>

<button class='btn btn-primary' (click)='getHouses()'>Get Houses</button>

<div class='row'>
  <div class='col-md-2'>Filter by title:</div>
  <div class='col-md-4'>
    <input type='text'
           [(ngModel)]='listFilter' />
  </div>
</div>

<div class='row'>
  <div class='col-md-6'>
    <h4>Filtered by title: {{listFilter}}</h4>
  </div>
</div>

<table class='table table-striped' aria-labelledby="tableLabel">
  <thead>
    <tr>
      <th width="180">
        <button class='btn btn-primary'
                (click)='toggleImage()'>
          {{ displayImage ? 'Hide' : 'Show' }} Image
        </button>
      </th>
      <th>HouseId</th>
      <th>Title</th>
      <th>Location</th>
      <th>Room info</th>
      <th>Description</th>
      <th>Price/night</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor='let house of filteredHouses'>
      <td><img [src]='house.HouseImageUrl' width="80" *ngIf="displayImage" /></td>
      <td>{{ house.HouseId }}</td>
      <td>{{ house.Title }}</td>
      <td>{{ house.Location }}</td>
      <td width="160">
        <span>{{ house.Bedrooms }} Bedrooms</span><br />
        <span>{{ house.Bathrooms }} Bathrooms</span>
      </td>
      <td>{{ house.Description }}</td>
      <td width="120">{{ house.PricePerNight | convertToCurrency: 'kr' }}</td>

      <td>
        <a [routerLink]="['/houseform', 'edit', house.HouseId]">Update</a>
        <a class="delete-link" (click)="deleteHouse(house)">Delete</a>
      </td>
    </tr>
  </tbody>
</table>

<button class='btn btn-primary' [routerLink]="['/houseform', 'create', -1]">Create New House</button>
<button class='btn btn-secondary' routerLink="/houseform">Create New House</button>
