<h1 id="tableLabel" class="my-3">List of Houses</h1>

<div class='row mb-3'>
  <div class="col-md-9">
    <div class="btn-group btn-group-sm">
      <a class="btn btn-outline-dark" (click)="showGridView()" [class.active]="displayCard">Grid View</a>
      <a class="btn btn-outline-dark active" (click)="showTableView()" [class.active]="displayTable">Table View</a>
    </div>
  </div>
  <div class='col-md-3'>
    <div class="row">
      <div class='col-md-5'>Filter by title:</div>
      <div class='col-md-7'>
        <input type='text' class="form-control"
               [(ngModel)]='listFilter' />
      </div>
    </div>
  </div>
</div>

<div class='row'>
  <div class='col-md-6'>
    <h4>Filtered by title: {{listFilter}}</h4>
  </div>
</div>

<table *ngIf="displayTable" class='table table-hover' aria-labelledby="tableLabel">
  <thead>
    <tr>
      <th>
        <button class='btn btn-sm btn-dark rounded-pill text-nowrap'
                (click)='toggleImage()'>
          {{ displayImage ? 'Hide' : 'Show' }} Image
        </button>
      </th>
      <th>HouseId</th>
      <th>Title</th>
      <th>Location</th>
      <th>Room info</th>
      <th>Description</th>
      <th>Price/night</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor='let house of filteredHouses'>
      <td>
        <img [src]='house.HouseImageUrl' *ngIf="displayImage" class="rounded-circle img-link" routerLink="/house-details/{{ house.HouseId }}" />
      </td>
      <td>{{ house.HouseId }}</td>
      <td>{{ house.Title }}</td>
      <td>{{ house.Location }}</td>
      <td width="160">
        <span class="badge rounded-pill bg-light text-dark">{{ house.Bedrooms }} Bedrooms</span><br />
        <span class="badge rounded-pill bg-light text-dark">{{ house.Bathrooms }} Bathrooms</span>
      </td>
      <td>{{ house.Description }}</td>
      <td width="120">{{ house.PricePerNight | convertToCurrency: 'kr' }}</td>

      <td>
        <a class="btn btn-sm btn-secondary rounded-pill w-100 my-1" [routerLink]="['/houseform', 'edit', house.HouseId, 'Table']">Update</a>
        <a class="btn btn-sm btn-danger rounded-pill w-100" (click)="deleteHouse(house)">Delete</a>
      </td>
    </tr>
  </tbody>
</table>

<ul *ngIf="displayCard" class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
  <li *ngFor="let house of filteredHouses" class="col">
    <div class="card">
      <a routerLink="/house-details/{{ house.HouseId }}">
        <img src="{{ house.HouseImageUrl }}" alt="{{ house.Title }}" />
        <div class="content">
          <div class="d-flex justify-content-between mt-2">
            <h6 class="house-title">{{ house.Title }}</h6>
            <h6 class="price">{{ house.PricePerNight | convertToCurrency: 'kr' }} / night</h6>
          </div>
          <div class="house-footer">
            <div class="location">
              <span>{{ house.Location }}</span>
            </div>
          </div>
          <div class="room-info">
            <span>{{ house.Bedrooms }} Bedrooms, </span>
            <span>{{ house.Bathrooms }} Bathrooms</span>
          </div>
        </div>
      </a>
      <div class="actions">
        <button class="btn btn-sm btn-secondary rounded-pill my-1" [routerLink]="['/houseform', 'edit', house.HouseId, 'Grid']">Update</button>
        <button class="btn btn-sm btn-danger rounded-pill" (click)="deleteHouse(house)">Delete</button>
      </div>
    </div>

  </li>
</ul>


<button class='btn btn-primary rounded-pill' [routerLink]="['/houseform', 'create', -1, displayTable ? 'Table' : 'Grid']">Create New House</button>
